In [5]:
# to convert kilometer into mile
k = float(input("enter kilometer = "))
mile = k*0.6214
print("mile = ", mile)

enter kilometer 90
mile =  55.925999999999995

In [6]:
# to convert celsius to fahrenheit
cel = float(input("enter celsius = "))
fah = (cel*1.8)+32
print("fahrenheit = ",fah)

enter celsius 90
fahrenheit =  194.0

In [28]:
# to display calendar
import calendar
year = int(input("enter year = "))
print("the calendar of year {} is ".format(year))
print(calendar.calendar(year,w=2,l=1,c=6,m=3))

enter year = 2021
the calendar of year 2021 is
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [10]:
# to solve quadratic equation
a = float(input("enter value of a = "))
b = float(input("enter value of b = "))
c = float(input("enter value of c = "))
s1 = (-b + (b**2-4*a*c)**0.5)/(2*a)
s2 = (-b - (b**2-4*a*c)**0.5)/(2*a)
print("two roots are = ",s1,s2)

enter value of a = 2
enter value of b = 2
enter value of c = 1
two roots are =  (-0.49999999999999994+0.5j) (-0.5-0.5j)

In [11]:
# to swap two variable
a = int(input("enter first no. = "))
b = int(input("enter second no. = "))
print("before swapping a = {} b = {}".format(a,b))
a,b=b,a
print("after swapping a = {} b = {}".format(a,b))

enter first no. = 6
enter second no. = 7
before swapping a = 6 b = 7
after swapping a = 7 b = 6